@media only screen and (min-width: 768px) {
  .prod_container {
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
  }
}

@media only screen and (max-width: 767px) {
  .prod_container {
    max-width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background-color: #e5e5e53d;
  }
}
