@media only screen and (min-width: 768px) {
    .landing_container{
        position: relative;
        max-width: 100%;
        height: auto;
        padding: 0;
        overflow: hidden;
        background-color: black;
    }
    
}

@media only screen and (max-width: 767px) {
    .landing_container{
        position: relative;
        max-width: 100%;
        height: auto;
        padding: 0;
        overflow: hidden;
        background-color: black;
    }   
}