@media only screen and (min-width: 768px) {
  .pkg_container {
    position: relative;
    max-width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
    .pkg_products_container {
      padding: 2rem;
      h1 {
        font-family: Inter;
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -0.025em;
        color: #111827;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .pkg_container {
    position: relative;
    max-width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
    .pkg_products_container {
      padding: 2rem;
      h1 {
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 40px;
        letter-spacing: -0.025em;
        color: #111827;
      }
    }
  }
}
